@charset "UTF-8";

.purchase{
	background-color:lightblue;	
    width: 300px;
    height: 500px; 
    border: 4px solid grey;
    box-shadow:4px 4px black;
}
.receipt{
	background-color:pink;	
    width: 300px;
    height: 600px; 
    border: 4px solid red;
	font-size:0.9em;    
	padding:50px;
}

.title{
	font-weight:900;
	
}

